GameStore/GameStore.BLL/Service References/Banking/PaymentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58425/PaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService.DTO.Components" />
  <xs:element name="IsCardExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCardExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCardExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayWithVisa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvv2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expirationMonth" type="xs:int" />
        <xs:element minOccurs="0" name="expiretionYear" type="xs:int" />
        <xs:element minOccurs="0" name="purpose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="summ" type="xs:decimal" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayWithVisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankService.DTO.Components" minOccurs="0" name="PayWithVisaResult" type="q1:PaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayWithMasterCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvv2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expirationMonth" type="xs:int" />
        <xs:element minOccurs="0" name="expiretionYear" type="xs:int" />
        <xs:element minOccurs="0" name="purpose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="summ" type="xs:decimal" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayWithMasterCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankService.DTO.Components" minOccurs="0" name="PayWithMasterCardResult" type="q2:PaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>